#mainSection{
	margin: 100px 0 0 200px;
	font-family: arial;
}

#mainSection a{
	text-decoration: none;
}

#postSection{
	position: relative;
	width: 80%;
	padding: 10px 10%;
	box-sizing: border-box;
	z-index: 100;
}

#postSection > header{
	width: 100%;
	margin-bottom: 25px;
	background-color: rgba(30, 30, 30, 0.7);
	z-index: 100;
}


#postSection > ul{
	display: flex;
	flex-direction: column;
	list-style: none;
	font-family: lato;
	color: white;
	background-color: rgba(30, 30, 30, 0.7);
	padding: 0;
	margin: 0;
	transition: 0.7s;
}


#postSection > ul > li{
	padding-top: 5px;
	border-bottom: 1px dotted rgba(200, 200, 200, 0.2);
}

#postSection > ul > li:last-child{
	border-bottom: none;
}

#postSection > ul img{
	width: 30px;
	height: 30px;
	border-radius: 15px;
	margin-right: 10px;
}

#postSection > ul header{
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 14px;
	height: 40px;
	padding-left: 15px;
	line-height: 40px;
}

#postSection > ul p{
	text-indent: 25px;
	padding: 0 15px;
	font-size: 13px;
}


@media screen and (max-width: 768px){
	#mainSection{
		margin: 100px 0 0 0;
	}

	#postSection{
		width: 75%;
		padding: 10px 25px;
		box-sizing: border-box;
	}
}

@media screen and (max-width: 480px){
	#postSection{
		width: 100%;
		padding: 10px 15px;
		box-sizing: border-box;
	}
}