*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#mainHeader{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: red;
	ox-shadow: 0 2px 2px grey;
	z-index: 940;
}

#mainHeader > div > img{
	width: 100px;
}

#mainHeader a{
	text-decoration: none;
	color: white;
}

#mainHeader > div{
	position: relative;
	padding-left: 30px;
	line-height: 60px;
	height: 50px;
	color: white;
	font-size: 23px;
	font-family: arial;
	transition: 1s;
	box-sizing: border-box;
	order: 1px solid blue;
}

#mainHeader > div > i{
	display: none;
	cursor: pointer;
}

#mainHeader > div > span{
	margin-left: 30px;
}

#mainHeader > div > ul{
	position: absolute;
	right: 30px;
	top: 0px;
	height: 60px;
	display: flex;
	align-items: center;
	list-style: none;
	transition: 1s;
	z-index: 2000;
}

#mainHeader > div > ul > li > img,
#mainHeader > div > ul > li > a > img{
	width: 22px;
}

#mainHeader > div > ul > li{
	position: relative;
	margin-left: 30px;
	font-family: arial;
	font-size: 18px;
	cursor: pointer;
	width: auto;
}

#mainHeader > div > ul > li > input{
	border: none;
	background-color: red;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	transition: 0.5s;
}

#mainHeader > div > ul > li > input:focus{
	outline: none;
	border: none;
	background-color: red;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);	
}

.inputHidden{
	width: 0;
}

.inputShown{
	width: 100px;
}

#mainHeader > div > ul > li:hover > ul,
#mainHeader > div > ul > li > div:hover+ul{
	display: flex;
}

#mainHeader > div > ul > li > div{
	position: absolute;
	top: 0;
	right: 0;
	height: 100px;
	width: 100px;
}

#notification{
	display: none;
	position: absolute;
	right: 0;
	list-style: none;
	width: 250px;
	height: 300px;
	overflow: auto;
	flex-direction: column;
	top: 22px;
	padding-top: 0px;
}

#notification > li{
	flex: 0 0 70px;
	padding: 10px 10px;
	box-sizing: border-box;
	border-bottom: 1px dotted rgba(200, 200, 200, 0.3);
	background-color: rgb(30, 30, 30);
	z-index: 1100;
}

#notification > li:hover{
	background-color: rgb(40, 40, 40);
}

#notification a{
	display: block;
	width: 100%;
	height: 100%;
}

#notification img{
	width: 30px;
	border-radius: 15px;
}

#notification span{
	font-size: 11px;
	margin-left: 10px;
}

#notification p{
	font-size: 12px;
	margin: 0;
}


#mainHeader > ul{
	display: flex;
	list-style: none;
	height: 50px;
}

#mainHeader > ul > li > a{
	display: block;
	box-sizing: border-box;
	color: white;
	text-decoration: none;	
}

#mainHeader > ul > li{
	flex: 1 0 33%;
	font-family: arial;
	line-height: 45px;
	text-align: center;
	font-size: 15px;
	border-bottom: 2px solid white;
}

#mainHeader > ul > li img{
	width: 20px;
}


@media screen and (max-width:768px){
	#mainHeader > div > ul > li:first-child{
		display: none;
	}

	#mainHeader > div > i{
		display: inline-block;
	}

	#mainHeader > ul span{
		font-size: 10px;
	}	
}

@media screen and (max-width:480px){
	#mainHeader > div > ul > li:first-child{
		display: none;
	}

	#mainHeader > div > ul > li{
		margin-left: 20px;
	}

	#mainHeader > div{
		font-size: 20px;
	}

	#mainHeader > div > ul img{
		width: 20px;
	}

	#mainHeader > div > ul{
		right: 10px;
	}

	#mainHeader > div > span{
		margin-left: 10px;
	}

	#mainHeader > div{
		padding-left: 15px;
	}

	#notification{
		right: -50px;
	}

	#mainHeader > ul span{
		display: none;
	}

	#mainHeader > ul > li img{
		width: 22px;
	}
}