*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#mainHeader{
	background-color: red;
	height: 90px;
	box-shadow: 0 2px 2px grey;
}

#mainHeader > div{
	position: relative;
	padding: 20px 30px 0 30px;
	height: 45px;
	color: white;
	font-size: 23px;
	font-family: arial;
}

#mainHeader > div > i{
	display: none;
	cursor: pointer;
}

#mainHeader > div > span{
	margin-left: 30px;
}

#mainHeader > div > ul{
	position: absolute;
	right: 30px;
	top: 20px;
	display: flex;
	list-style: none;
}

#mainHeader > div > ul > li{
	margin-left: 30px;
	font-family: arial;
	font-size: 18px;
}

#mainHeader > ul{
	display: flex;
	list-style: none;
	height: 45px;
}

#mainHeader > ul > li > a{
	display: block;
	color: white;
	text-decoration: none;	
}

#mainHeader > ul > li{
	flex: 1 0 33%;
	order: 1px solid black;
	font-family: arial;
	line-height: 55px;
	text-align: center;
	font-size: 15px;
}

#mainHeader > div > ul > li > input{
	border: none;
	background-color: red;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	transition: 0.5s;
}

#mainHeader > div > ul > li > input:focus{
	outline: none;
	border: none;
	background-color: red;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);	
}

.inputHidden{
	width: 0;
}

.inputShown{
	width: 100px;
}

@media screen and (max-width:768px){
	#mainHeader > div > ul > li:nth-child(n+2){
		display: none;
	}

	#mainHeader > ul span{
		font-size: 10px;
	}	

	#mainHeader > div > i{
		display: inline-block;
	}
}

@media screen and (max-width:480px){
	#mainHeader > div > ul > li:nth-child(n+2){
		display: none;
	}

	#mainHeader > ul span{
		display: none;
	}
}