#allFriendsSection, 
#allPhotosSection{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 2500;
	background-color: rgba(10, 10, 10, 0.8);
}

#allFriendsSection img{
	width: 20px;
}

#allFriendsSection > div,
#allPhotosSection > div{
	height: 80vh;
	width: 85vw;
	overflow: auto;
	margin: 10vh auto;
	border: 1px solid rgb(180, 180, 180);
	background-color: rgba(30, 30, 30, 0.8);
}

#allFriendsSection > div > header, 
#allPhotosSection > div > header{
	font-size: 30px;
	color: white;
	font-family: lato;
	padding: 20px 0 0 30px;
	margin-bottom: 40px;
}

#allFriendsSection > div > ul{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	width: 95%;
	margin: 0 auto;
	order: 1px solid blue;
}

#allFriendsSection > div > ul > li{
	flex: 0 0 200px;
	margin-bottom: 15px;
}

#allFriendsSection > div > ul > li > img{
	width: 40px;
	margin-right: 10px;
	border-radius: 20px;
}

#allFriendsSection > div > ul > li > span{
	color: rgb(230, 230, 230);
	font-family: lato;
	font-size: 16px;
}


#allPhotosSection > div > ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	list-style: none;
	width: 95%;
	margin: 0 auto;
}

#allPhotosSection > div > ul > li{
	flex: 0 0 150px;
	margin: 0 5px 5px 0;
}

#allPhotosSection > div > ul > li img{
	width: 100%;
}

#allPhotosSection > div > ul > li div{
	display: flex;
	align-items: center;
	overflow: hidden;
	width: 150px;
	height: 150px;
	border: 1px solid rgba(250, 250, 250, 0.1);
	transition: 0.4s;
}

#allPhotosSection > div > ul > li div:hover{
	border: 1px solid rgba(250, 250, 250, 0.7);	
}



#allPhotosSection > div::-webkit-scrollbar,
#allFriendsSection > div::-webkit-scrollbar{
	width: 10px;
}

#allPhotosSection > div::-webkit-scrollbar-track,
#allFriendsSection > div::-webkit-scrollbar-track{
	background-color: rgba(240, 240, 240, 0.8);
	background-color: white;
	box-shadow: inset 3px 3px 3px rgba(10, 10, 10, 0.3);
}

#allPhotosSection > div::-webkit-scrollbar-thumb,
#allFriendsSection > div::-webkit-scrollbar-thumb{
	background-color: rgb(30, 30, 30);
	border-radius: 5px;
	background-color: black;
	height: 120px;
}



@media screen and (max-width: 480px){
	#allFriendsSection > div, 
	#allPhotosSection > div{
		width: 250px;
	}

	#allFriendsSection > div > ul, 
	#allPhotosSection > div > ul{
		width: 80%;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
	}

	#allFriendsSection > div > ul > li{
		flex: 0 0 50px;
	}

	#allPhotosSection > div > ul > li{
		flex: 0 0 150px;
		width: 150px;
	}
}