#rightFixedSection{
	position: fixed;
	right: 0;
	width: 16%;
	height: 400px;
	text-align: right;
	z-index: 900;
}

#rightFixedSection > ul{
	display: flex;
	width: 97%;
	flex-direction: column;
	padding: 0 5px 5px 5px;
	list-style: none;
}

#rightFixedSection > ul > li{
	flex: 0 0 230px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: arial;
	margin-bottom: 5px;
}

#rightFixedSection > ul > li > a{
	display: block;
	font-family: lato;
	height: 50px;
	color: white;
	font-size: 14px;
	padding: 15px 0 0 15px;
	text-decoration: none;
	background-color: rgba(10, 10, 10, 0.8);
	box-sizing: border-box;
	margin-top: 180px;
	text-align: left;
}

@media screen and (max-width: 768px){
	#rightFixedSection{
		width: 25%;
	}

	#rightFixedSection > ul > li > a{
		font-size: 13px;
		padding: 15px 0 0 10px;
	}
}

@media screen and (max-width: 480px){
	#rightFixedSection{
		display: none;
	}
}