#rightFixedSection > ul{
	display: flex;
	width: 97%;
	flex-direction: column;
	padding: 5px;
	list-style: none;
}

#rightFixedSection > ul > li{
	flex: 0 0 230px;
	order: 1px solid rgb(200, 200, 200);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: arial;
	order-radius: 5px;
	margin-bottom: 5px;
}

#rightFixedSection > ul > li > a{
	display: block;
	height: 50px;
	color: white;
	font-size: 14px;
	padding: 15px 0 0 15px;
	text-decoration: none;
	order-radius: 0 0 3px 3px;
	background-color: rgba(10, 10, 10, 0.8);
	box-sizing: border-box;
	margin-top: 180px;
	text-align: left;
}

@media screen and (max-width: 768px){
	#rightFixedSection > ul{
		padding: 15px 10px 15px 0;
	}
}