#mainSection{
	display: flex;
	margin: 100px 0 0 200px;
	font-family: arial;
}

#mainSection a{
	text-decoration: none;
}

#postSection{
	position: relative;
	flex: 1 0 75%;
	padding: 10px 10%;
	box-sizing: border-box;
	z-index: 100;
}

#postSection > header{
	width: 100%;
	margin-bottom: 25px;
	background-color: rgba(30, 30, 30, 0.7);
	z-index: 100;
}

#postSection > section{
	border-radius: 10px;
	margin-bottom: 15px;
	ox-shadow: 3px 3px 3px rgb(200, 200, 200);
	order-left: 1px solid rgb(220, 220, 200);
	z-index: 100;
}

#rightFixedSection{
	flex: 1 0 20%;
	height: 400px;
	text-align: right;
	z-index: 999;
}

.header{
	font-family: lato;
	position: relative;
	display: flex;
	padding: 10px 0 10px 15px;
	height: 60px;
	background-color: rgba(30, 30, 30, 0.7);

	align-items: center;
	order-radius: 10px 10px 0 0;
}

.xyz{
	position: absolute;
	width: 98%;
	height: 3px;
	background-color: red;
	top: 0;
	left: 0;
}	

.leftExtra, .rightExtra{
	position: absolute;
	top: 0;
	height: 60px;
	background-color: rgba(59, 89, 152, 0.9);
	background-color: rgb(153, 35, 35);
	background-color: rgb(60, 60, 60);
}

.leftExtra{
	left: -15px;
	width: 15px;
	border-radius: 10px 0 0 0;
}

.rightExtra{
	left: 100%;
	width: 15px;
	border-radius: 0 10px 0 0;
}

.leftTriangle, .rightTriangle{
	position: absolute;
	top: 60px;	
	width: 0px;
	height: 0px;
}

.rightTriangle{
	left: 100%;
	border-top: 7.5px solid black;
	border-left: 7.5px solid black;
	border-right: 8px solid transparent;
	border-bottom: 8px solid transparent;
}

.leftTriangle{
	left: -15px;
	border-top: 7.5px solid black;
	border-right: 7.5px solid black;
	border-left: 8px solid transparent;
	border-bottom: 8px solid transparent;
}

.dots{
	position: absolute;
	top: 20px;
	right: 10px;
}

.dots > img{
	width: 20px;
}

.header a{
	font-weight: bold;
	color: white;
	font-size: 15px;
	letter-spacing: 0.5px;
}

.header > div > span:last-child{
	color: white;
	font-size: 13px;
}

.header > img{
	margin-right: 15px;
	width: 40px;
	border-radius: 30px;
}

.header > div{
	display: inline-block;
}

#postSection > section > p{
	padding: 0px 15px 10px 15px;
	line-height: 25px;
	font-family: lato;
	font-size: 14px;
	background-color: rgba(80, 0, 0, 0.1);
	background-color: white;
	background-color: rgba(30, 30, 30, 0.7);
	color: white;
	text-indent: 20px;
	box-sizing: border-box;
	margin: 0;
}

.imageWrapper{
	order-top: 1px solid rgb(200, 200, 200);
	order-bottom: 1px solid rgb(200, 200, 200);
	text-align: center;

	display: flex;
	align-items: center;
}

.imageWrapper > img{
	width: 100%;
	margin: 0 auto;
}

.stats, .action{
	background-color: rgba(30, 30, 30, 0.7);
}

.stats{
	display: flex;
	align-items: center;
	padding: 0 25px;
	height: 40px;
	line-height: 40px;
	color: white;
}

.stats img{
	width: 20px;
}

.stats > span{
	margin-right: 50px;
}


.action{
	idth: 98%;
	margin: 0 auto;
	padding: 0 25px;
	height: 40px;
	order-top: 1px solid rgb(200, 200, 200);
	line-height: 40px;
	border-radius: 0 0 10px 10px;
}

.action > span{
	margin-right: 50px;
}

.action > span:nth-child(2) > a{
	color: red;
}

.action > span:first-child > a{
	color: black;
}

#commentClicked{
	position: fixed;
	top: 300px;
	width: 50%;
	z-index: 1000;
}


@media screen and (max-width: 768px){
	#mainSection{
		margin: 60px 0 0 0;
	}

	#postSection{
		flex: 1 0 75%;
		padding: 10px 25px;
		box-sizing: border-box;
	}

	#rightFixedSection{
		flex: 1 0 25%;
		height: 200px;
	}
}

@media screen and (max-width: 480px){
	#postSection{
		flex: 1 0 100%;
		padding: 10px 25px;
		box-sizing: border-box;
	}

	#rightFixedSection{
		display: none;
	}	
}