*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#mainHeader{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: red;
	height: 60px;
	box-shadow: 0 2px 2px grey;
}

#mainHeader a{
	text-decoration: none;
	color: white;
}

#mainHeader > div{
	position: relative;
	padding-left: 30px;
	line-height: 60px;
	height: 60px;
	color: white;
	font-size: 23px;
	font-family: arial;
	box-sizing: border-box;
}

#mainHeader > div > i{
	display: none;
	cursor: pointer;
}

#mainHeader > div > span{
	margin-left: 30px;
}

#mainHeader > div > ul{
	position: absolute;
	right: 30px;
	top: 0px;
	height: 60px;
	display: flex;
	align-items: center;
	list-style: none;
}

#mainHeader > div > ul > li{
	margin-left: 30px;
	font-family: arial;
	font-size: 18px;
	width: auto;
}

#mainHeader > div > ul > li > input{
	border: none;
	background-color: red;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	transition: 0.5s;
}

#mainHeader > div > ul > li > input:focus{
	outline: none;
	border: none;
	background-color: red;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);	
}

.inputHidden{
	width: 0;
}

.inputShown{
	width: 100px;
}

@media screen and (max-width:768px){
	#mainHeader > div > ul > li:nth-child(n+2){
		display: none;
	}

	#mainHeader > div > i{
		display: inline-block;
	}
}

@media screen and (max-width:480px){
	#mainHeader > div > ul > li:nth-child(n+2){
		display: none;
	}
}