#postSection > ul{
	display: flex;
	list-style: none;
}

#postSection > ul{
	order: 2px solid black;
	border-bottom: 1px solid rgb(200, 200, 200);
	margin-bottom: 30px;
}

#postSection > ul > li > a{
	order: 1px solid black;
	display: block;
	height: 100%;
	color: black;
	text-decoration: none;
	font-family: arial;
	padding-top: 15px;
	box-sizing: border-box;
}

#postSection > ul > li img{
	height: 80%;
}

#postSection > ul > li{
	flex: 1 0 33%;
	height: 55px;
	text-align: center;
	font-size: 14px;
}

.bottomBorder{
	border-bottom: 2px solid red;
}

@media screen and (max-width: 768px){
	#postSection > ul span{
		display: none;
	}

	#postSection a{
		font-size: 20px;
	}
}

@media screen and (max-width: 480px){
	.midSection{
		flex: 1 0 100%;
	}	
}