#mainHeader > ul{
	display: flex;
	list-style: none;
}

#mainHeader > ul > li > a{
	display: flex;
	align-items: center;
	color: white;
	font-size: 14px;
	text-decoration: none;
	font-family: arial;
	padding-left: 30%;
	box-sizing: border-box;
}

#mainHeader > ul > li img{
	width: 30px;
	height: 30px;
}

#mainHeader > ul > li:nth-child(n + 2) img{
	width: 35px;
	height: 35px;	
}

#mainHeader > ul > li{
	flex: 1 0 33%;
	height: 45px;
	text-align: center;
	font-size: 14px;
}

.bottomBorder{
	border-bottom: 2px solid red;
}

@media screen and (max-width: 768px){
	#mainHeader > ul span{
		display: none;
	}

	#mainHeader > ul > li img{
		width: 25px;
		height: 25px;
	}

	#mainHeader > ul > li:nth-child(n + 2) img{
		width: 25px;
		height: 25px;	
	}

	#mainHeader > ul > li{
		line-height: 45px;
	}
}