{% load staticfiles	 %}
<section id = "doctor-profile-reports">
	<ul>
		{% for i in '123' %}
		<li>
			<header>	Gohan Kun		</header>
			<img src="{% static 'common/images/normalvesta/gohan.jpg' %}">
			<div>
				<b>Clinic</b> : Carefree Clinic 
				<br>
				<b>Date</b> : Dec. 5, 2016, 9:03 a.m.
				<br>
				<b>Phone</b> : 9876543210
				<br>
				<b>ID</b> : 512
				<br>
			</div>

			<form>
				<div class="mdl-select mdl-js-textfield mdl-textfield--floating-label">
					<label for = "dropdown"> Re-appointment </label>
					<select id = "dropdown">
						<option value = "yes"> YES </option>
						<option value = "no"> NO </option>
					</select>
				</div>

				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="remarks" style = "border-bottom: 1px solid rgba(200, 200, 200, 0.6);">
					<label class="mdl-textfield__label" for="remarks" style = "color: grey; font-size: 14px;">	Remarks	</label>
				</div>

				<div>
					<input type = "submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised">
				</div>
			</form>

			<a href="#">
				<img src="{% static 'common/images/normalvesta/pdficon.ico' %}">
			</a>

			<a href="#">
				<img src="{% static 'common/images/normalvesta/prescription.jpg' %}" class = "poppable-image">
			</a>
		</li>
		{% endfor %}
	</ul>
</section>