{% load staticfiles %}

<section id = "mainSection">
	{% if category == 'profile' %}
	<header>
		<img src="{% static 'common/images/user.jpg' %}">
	</header>
	{% endif %}

	{% if userType == 'patient' %}
	{% include 'homepage/user-patient.html' %}
	{% endif %}

	{% if userType == 'pharmacy' %}
	{% include 'homepage/user-pharmacy.html' %}
	{% endif %}

	{% if userType == 'doctor' %}
	{% include 'homepage/user-doctor.html' %}
	{% endif %}

	{% if userType == 'lab' %}
	{% include 'homepage/user-lab.html' %}
	{% endif %}
</section>