{% extends 'common/base.html' %}
{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'common/css/commonHeader.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/css/sideNavigation.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/css/rightFixedSection.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/homePageSection.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/patient-profile-vitals.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/patient-profile-pastAppointments.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/patient-medicalHistory-pharmacyOrders.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/doctor-patientHistory.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/doctor-profile-appointments.css' %}">
{% endblock %}

{% block body %}
{% include 'common/commonHeader.html' %}
{% include 'common/sideNavigation.html' %}
{% include 'common/rightFixedSection.html' %}
{% include 'homepage/homePageSection.html' %}
{% include 'homepage/bottomBorderManager.html' %}
{% endblock %}


{% block scripts %}
<script type="text/javascript" src = "{% static 'common/js/header.js' %}"></script>
<script type="text/javascript">
	var target = {
		'navButton' : '#mainHeader > div > i',
		'navBar' : 'sideBar',
		'leftArrow' : '#sideBar > li:first-child',
		'search' : '#mainHeader > div > ul > li:first-child > i',
		'inputField' : '#mainHeader > div > ul > li:first-child > input',
	};
	headerAndNavManager.init(target);
</script>
{% endblock %}