{% extends 'common/base.html' %}
{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/header.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/css/sideNavigation.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/css/rightFixedSection.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/homePageSection.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/vitalsSection.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/pastAppointments.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/pharmacyOrders.css' %}">
{% endblock %}

{% block body %}
{% include 'homepage/header.html' %}
{% include 'common/sideNavigation.html' %}
{% include 'common/rightFixedSection.html' %}

{% include 'homepage/homePageSection.html' %}

<style type="text/css">
	{% if category == 'medicalHistory' %}
	#mainHeader > ul > li:nth-child(2),
	#mainHeader > ul > li:nth-child(3){
		opacity: 0.5;
		border-bottom: none;
	}
	{% endif %}

	{% if category == 'profile' %}
	#mainHeader > ul > li:nth-child(1),
	#mainHeader > ul > li:nth-child(3){
		opacity: 0.5;
		border-bottom: none;
	}
	{% endif %}

	{% if category == 'futureAppointments' %}
	#mainHeader > ul > li:nth-child(1),
	#mainHeader > ul > li:nth-child(2){
		opacity: 0.5;
		border-bottom: none;
	}
	{% endif %}


	{% if subcategory == 'clinicSlips' or subcategory == 'vitals' %}
	#mainSection > ul > li:nth-child(2), 
	#mainSection > ul > li:nth-child(3){
		opacity: 0.5;
		border-bottom: none;		
	}
	{% endif %}

	{% if subcategory == 'labReports' or subcategory == 'current' %}
	#mainSection > ul > li:nth-child(1), 
	#mainSection > ul > li:nth-child(3){
		opacity: 0.5;
		border-bottom: none;		
	}
	{% endif %}

	{% if subcategory == 'pharmacyOrders' or subcategory == 'pastAppointments' %}
	#mainSection > ul > li:nth-child(1), 
	#mainSection > ul > li:nth-child(2){
		opacity: 0.5;
		border-bottom: none;		
	}
	{% endif %}

	#sideBar{
		top: 90px;
	}

	#rightFixedSection{
		top: 95px;
	}
</style>
{% endblock %}


{% block scripts %}
<script type="text/javascript" src = "{% static 'common/js/header.js' %}"></script>
<script type="text/javascript">
	var target = {
		'navButton' : '#mainHeader > div > i',
		'navBar' : 'sideBar',
		'leftArrow' : '#sideBar > li:first-child',
		'search' : '#mainHeader > div > ul > li:first-child > i',
		'inputField' : '#mainHeader > div > ul > li:first-child > input',
	};
	headerAndNavManager.init(target);
</script>
{% endblock %}
