{% load staticfiles	 %}

<section id = "lab-profile-appointments">
	<ul>
		{% for i in '123' %}
		<li>
			<header>	Varun Kashyap	</header>
			<img src="{% static 'common/images/normalvesta/gohan.jpg' %}">
			<div>
				<b>Test Type</b> : Blood Test 
				<br>
				<b>Phone</b> : None
				<br>
				<b>Date</b> : Aug 15, 2016
				<br>
				<b>Application No.</b> : 1024
				<br>
				<b>ID</b> : 256
				<br>
				<a href="#"> Confirm Appointment </a>
				<br>
				<a href="#"> Cancel Appointment </a>
			</div>
		</li>
		{% endfor %}
	</ul>
</section>