<section id = "vitalsSection">
	<ul>
		<li>
			<header> Sugar Level </header>

			<form action="#">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="id_sugarlevel">
					<label class="mdl-textfield__label" for="id_sugarlevel">Sugar Level</label>
				</div>
				<div>
					<input type = "submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised">
				</div>
			</form>

			<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised">
				Previous
			</button>
		</li>

		<li>
			<header> Blood Pressure </header>

			<form action="#">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="id_low">
					<label class="mdl-textfield__label" for="id_low">Low</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="id_high">
					<label class="mdl-textfield__label" for="id_high">High</label>
				</div>
				<div>
					<input type = "submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised">
				</div>
			</form>

			<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised">
				Previous
			</button>
		</li>


		<li>
			<header> Cholestrol Level </header>

			<form action="#">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="Cholestrol">
					<label class="mdl-textfield__label" for="Cholestrol">Cholestrol</label>
				</div>
				<div>
					<input type = "submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised">
				</div>
			</form>

			<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised">
				Previous
			</button>
		</li>

		<li>
			<header> Temperature </header>

			<form action="#">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="Temperature">
					<label class="mdl-textfield__label" for="Temperature">Temperature</label>
				</div>
				<div>
					<input type = "submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised">
				</div>
			</form>

			<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised">
				Previous
			</button>
		</li>

		<li>
			<header> Body Mass Index </header>

			<form action="#">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="bmi">
					<label class="mdl-textfield__label" for="bmi">BMI</label>
				</div>
				<div>
					<input type = "submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised">
				</div>
			</form>

			<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised">
				Previous
			</button>
		</li>
	</ul>
</section>