<section id = "vitalsSection">
	<ul>
		<li>
			<header> Sugar Level </header>
			<div>
				<input type = "text">
				<input type = "submit">
			</div>
			<button> SHOW PREVIOUS DATA </button>
		</li>

		<li>
			<header> Blood Pressure </header>
			<div>
				<input type = "text">
				<input type = "text">
				<input type = "submit">
			</div>
			<button> SHOW PREVIOUS DATA </button>
		</li>

		<li>
			<header> Cholestrol Level </header>
			<div>
				<input type = "text">
				<input type = "submit">
			</div>
			<button> SHOW PREVIOUS DATA </button>
		</li>

		<li>
			<header> Temperature </header>
			<div>
				<input type = "text">
				<input type = "submit">
			</div>
			<button> SHOW PREVIOUS DATA </button>
		</li>

		<li>
			<header> Body Mass Index </header>
			<div>
				<input type = "text">
				<input type = "submit">
			</div>
			<button> SHOW PREVIOUS DATA </button>
		</li>
	</ul>
</section>