{% load staticfiles %}

<section id = "pharmacyOrders">
	<ul>
		{% for i in '123' %}
		<li>
			<header>	Kashyap Pharmacy		</header>
			<img src="{% static 'common/images/normalvesta/doctor.jpg' %}">
			<div>
				<b>Address</b> : C-123, Hari Nagar, New Delhi 
				<br>
				<b>Remarks</b> : Bhot bimar lagtey ho :P
				<br>
				<b>Date</b> : Dec. 5, 2016, 9:03 a.m.
				<br>
				<b>Confirmation</b> : Sari davayiaan uplabhd hain.
			</div>

			<a href="{% static 'common/images/normalvesta/prescription.jpg' %}" target = "new">
				<img src="{% static 'common/images/normalvesta/prescription.jpg' %}" class = "poppable-image">
			</a>
		</li>
		{% endfor %}
	</ul>
</section>