{% load staticfiles	 %}
<section id = "pharmacy-profile-confirmedOrders">
	<ul>
		{% for i in '123' %}
		<li>
			<header> Goten San </header>
			<img src="{% static 'common/images/normalvesta/gohan.jpg' %}">
			<div>
				<b>Address</b> : None 
				<br>
				<b>Phone</b> : None
			</div>
			<div>
				<b>Remarks</b> : None
				<br>
				<b>Date</b> : Aug 15, 2016
				<br>
				<a href="#"> Confirm Order </a>
			</div>
			<a href="{% static 'common/images/normalvesta/prescription.jpg' %}" target = "new">
				<img src="{% static 'common/images/normalvesta/prescription.jpg' %}" class = "poppable-image">
			</a>
		</li>
		{% endfor %}
	</ul>
</section>