{% extends 'common/base.html' %}
{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'common/css/commonHeader.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/css/sideNavigation.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/css/rightFixedSection.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/searchResults.css' %}">


<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/search-doctor.css' %}">
<!--<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/search-lab.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/search-pharmacy.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/search-clinic.css' %}">
-->{% endblock %}

{% block body %}
<header id = "mainHeader">
	{% include 'homepage/headerUpperHalf.html' %}
</header>
{% include 'common/sideNavigation.html' %}
{% include 'common/rightFixedSection.html' %}

<section id = "mainSection">
	{% include 'homepage/doctorCard.html' %}		
<!--	{% include 'homepage/searchLabCard.html' %}
	{% include 'homepage/searchPharmacyCard.html' %}
	{% include 'homepage/searchClinicCard.html' %}	-->
</section>

<style type="text/css">
	#mainHeader{
		padding-bottom: 10px;
	}

	#sideBar, #rightFixedSection{
		top: 60px;
	}
</style>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src = "{% static 'homepage/js/searchResults-doctor.js' %}"></script>
<script type="text/javascript">
	var obj = {
		'lowerLink' : 'lowerLink',
		'upperLink' : 'upperLink',
		'internalList' : '#doctor-list > li > ul',
		'internalList2' : '#clinic-list > li > ul',
	};
	searchResultsDoctor.init(obj);
</script>
{% endblock %}