{% load staticfiles %}

{% if category == 'profile' %}
<ul>
	<li>
		<a href="{% url 'homepage' 'profile' 'confirmedOrders' %}">
			<img src="{% static 'common/images/normalvesta/plus.png' %}">
			<span>&nbsp&nbsp&nbspCONFIRMED ORDERS</span>
		</a>
	</li>

	<li>
		<a href="{% url 'homepage' 'profile' 'orders' %}">
			<img src="{% static 'common/images/normalvesta/poweroff.png' %}">
			<span>&nbsp&nbsp&nbspORDERS</span>
		</a>
	</li>
</ul>
{% endif %}

{% if category == 'orderHistory' %}
<section id = "pharmacy-orderHistory">
	<ul>
		{% for i in '123' %}
		<li>
			<header>	Varun Kashyap	</header>
			<img src="{% static 'common/images/normalvesta/gohan.jpg' %}">

			<div>
				<b>Address</b> : None 
				<br>
				<b>Phone</b> : None
			</div>
			<div>
				<b>Remarks</b> : None
				<br>
				<b>Bill</b> : Rs. 150
			</div>

			<a href="{% static 'common/images/normalvesta/prescription.jpg' %}" target = "new">
				<img src="{% static 'common/images/normalvesta/prescription.jpg' %}" class = "poppable-image">
			</a>
		</li>
		{% endfor %}
	</ul>
</section>
{% endif %}

{% if subcategory == 'confirmedOrders' %}
{% include 'homepage/pharmacy-profile-confirmedOrders.html' %}
{% endif %}

{% if subcategory == 'orders' %}
{% include 'homepage/pharmacy-profile-orders.html' %}
{% endif %}