{% load staticfiles %}

{% if category == 'profile' %}
<ul>
	<li>
		<a href="{% url 'homepage' 'profile' 'vitals' %}">
			<img src="{% static 'common/images/normalvesta/plus.png' %}">
			<span>&nbsp&nbsp&nbspVITALS</span>
		</a>
	</li>

	<li>
		<a href="{% url 'homepage' 'profile' 'current' %}">
			<img src="{% static 'common/images/normalvesta/poweroff.png' %}">
			<span>&nbsp&nbsp&nbspCURRENT</span>
		</a>
	</li>

	<li>
		<a href="{% url 'homepage' 'profile' 'pastAppointments' %}">
			<img src="{% static 'common/images/normalvesta/tick.png' %}">
			<span>&nbsp&nbsp&nbspPAST APPOINTMENTS</span>
		</a>
	</li>
</ul>
{% endif %}


{% if category == 'medicalHistory' %}
<ul>
	<li>
		<a href="{% url 'homepage' 'medicalHistory' 'clinicSlips' %}">
			<img src="{% static 'common/images/normalvesta/plus.png' %}">
			<span>&nbsp&nbsp&nbspCLINIC SLIPS</span>
		</a>
	</li>

	<li>
		<a href="{% url 'homepage' 'medicalHistory' 'labReports' %}">
			<img src="{% static 'common/images/normalvesta/poweroff.png' %}">
			<span>&nbsp&nbsp&nbspLAB REPORTS</span>
		</a>
	</li>

	<li>
		<a href="{% url 'homepage' 'medicalHistory' 'pharmacyOrders' %}">
			<img src="{% static 'common/images/normalvesta/tick.png' %}">
			<span>&nbsp&nbsp&nbspPHARMACY ORDERS</span>
		</a>
	</li>
</ul>
{% endif %}


{% if category == 'futureAppointments' %}
<section id = "futureAppointments">
	<ul>
		{% for i in '123' %}
		<li>
			<header>	Srivastav's Clinic		</header>
			<img src="{% static 'common/images/normalvesta/doctor.jpg' %}">
			<div>
				<b>Doctor</b> : Dr.Rajesh Srivastav 
				<br>
				<b>Address</b> : Srivastav's Clinic, Delhi Technological University, New Delhi - 110042
				<br>
				<b>Date</b> : Dec. 5, 2016, 9:03 a.m.
				<br>
				<a href="#" style = "text-decoration: none;"> Cancel Appointment </a>
			</div>
		</li>
		{% endfor %}
	</ul>
</section>
{% endif %}


{% if subcategory == 'vitals' %}
{% include 'homepage/patient-profile-vitals.html' %}
{% endif %}

{% if subcategory == 'pastAppointments' %}
{% include 'homepage/patient-profile-pastAppointments.html' %}
{% endif %}

{% if subcategory == 'pharmacyOrders' %}
{% include 'homepage/patient-medicalHistory-pharmacyOrders.html' %}
{% endif %}

{% if subcategory == 'clinicSlips' %}
{% include 'homepage/patient-medicalHistory-clinicSlips.html' %}
{% endif %}
