<div id = "rightFixedSection">
	<ul>

		{% for i in "123456789" %}
		<li style="background: url('https://vesta-media.s3.ap-south-1.amazonaws.com/static/img/1.jpg?X-Amz-Signature=6ff36065f71f1640050ecf285b7f3721c7c9647ab35ae3766efb3cc9886f6a18&X-Amz-Credential=AKIAIAHEU2NRVNTAKA6A%2F20161216%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20161216T143528Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-SignedHeaders=host&X-Amz-Expires=3600') center/cover;">
<!--			<div>
				Search Clinics<br>
				around you
			</div>
-->			<a href="#">
				Search Clinics
			</a>
		</li>
		{% endfor %}

<!--		<li>
			<div>
				VESTA SOCIAL
				<br>
				Connecting the 
				<br>
				healthcare industry
			</div>
			<a href="#">
				Vesta Social
			</a>
		</li>-->
	</ul>
</div>