{% load staticfiles %}

<!DOCTYPE html>
<html>
<meta name = "viewport" content = "width = device-width, initial-scale = 1">
{% block extra_css %}	{% endblock %}

<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'common/plugins/font-awesome/css/font-awesome.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'common/plugins/RipplePlugin/css.css' %}">
	{% block head %}	{% endblock %}
</head>

<title>
	{% block title %}	{% endblock %}
</title>

<body>

	{% block body %}	{% endblock %}
	<script type="text/javascript" src = "{% static 'common/js/jquery.js' %}"></script>
	<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
	{% block scripts %}	{% endblock %}
</body>
{% block internalStyles %}	{% endblock %}
</html>