{% load staticfiles %}

<section>
	<div class = "header">
		<div class = "dots">
			<img src="{% static 'common/images/threedots.png' %}">
		</div>
		<img src="{% static 'common/images/user.jpg' %}">
		<div>
			<span> <a href="#"> Shubham Jain </a> </span>
			<br>
			<span> 7 hours, 48 minutes ago </span>
		</div>
	</div>

	<p>
		This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. 
	</p>

	<div class = "imageWrapper">
		<img src="{% static 'common/images/testimage.jpg' %}">
	</div>

	<div class = "stats">
		<a href="#"> <img src="{% static 'common/images/like.png' %}"> </a>		
		<a href="#"> 10 likes </a>
		<a href="#" class = "comment" >  </a>
		<a href="#" open = "0"> <img src="{% static 'common/images/comment.png' %}">&nbsp&nbsp5 comments </a>
	</div> 

	<div class = "addComment addCommentHidden">
		<input type = "text">
		<button> Comment </button>
	</div>

	<ul class = "commentListHidden">
		{% for i in '12345' %}
		<li>
			<header>
				<img src="{% static 'common/images/user.jpg' %}">
				<span> Varun Kashyap </span>
				&nbsp&nbsp&nbsp
				<span> 5hours, 13minutes ago</span>
			</header>

			<p>
				This is some test comment. This is some test comment. This is some test comment. This is some test comment. This is some test comment. This is some test comment. This is some test comment. This is some test comment. This is some test comment. This is some test comment. This is some test comment. This is some test comment. This is some test comment. This is some test comment. 
			</p>
		</li>
		{% endfor %}
	</ul>
</section>