{% extends 'common/base.html' %}
{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'common/css/socialHeader.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/css/sideNavigation.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/css/rightFixedSection.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/css/vestaSocialNavigationBar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/css/profileSection.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/css/popup.css' %}">
{% endblock %}

{% block title %}
VESTA - Profile
{% endblock %}

{% block body %}
{% include 'common/socialHeader.html' %}
{% include 'common/sideNavigation.html' %}
{% include 'common/profileSection.html' %}

<style type="text/css">
	#rightFixedSection{
		top: 70px;
	}

	#sideBar{
		top: 60px;
	}

	#mainHeader > ul{
		display: none;
	}

	#mainHeader{
		padding-bottom: 10px;
	}

	#mainSection{
		margin-top: 70px;
	}
</style>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src = "{% static 'common/js/header.js' %}"></script>
<script type="text/javascript" src = "{% static 'common/js/profile.js' %}"></script>
<script type="text/javascript" src = "{% static 'common/js/postOptions.js' %}"></script>
<script type="text/javascript">
	var target = {
		'navButton' : '#mainHeader > div > i',
		'navBar' : 'sideBar',
		'search' : '#mainHeader > div > ul > li:first-child > img',
		'inputField' : '#mainHeader > div > ul > li:first-child > input',
	};
	headerAndNavManager.init(target);

	var obj = {
		'allFriends' : 'allFriends',
		'allPhotos' : 'allPhotos',
		'changeProfile' : 'changeProfilePic',
		'changeCover' : 'changeCoverPic',
	};
	profile.init(obj);

	var obj = {
		'dots' : '.dots > img',
		'list' : '.header > ul',
	};
	postOptions.init(obj);
</script>
{% endblock %}
