{% extends 'common/base.html' %}
{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'common/css/socialHeader.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/css/sideNavigation.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/css/rightFixedSection.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/css/vestaSocialNavigationBar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/css/profileSection.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/css/popup.css' %}">
{% endblock %}

{% block title %}
VESTA - Profile
{% endblock %}

{% block body %}
{% include 'common/socialHeader.html' %}
{% include 'common/sideNavigation.html' %}
{% include 'common/profileSection.html' %}

<style type="text/css">
	#rightFixedSection{
		top: 100px;
	}

	#sideBar{
		top: 95px;
	}

	{% if type == 'differential' %}
	#mainHeader > ul > li:first-child{
		border-bottom: 2px solid white;
	}
	{% endif %}

	{% if type == 'news' %}
	#mainHeader > ul > li:nth-child(2){
		border-bottom: 2px solid white;
	}
	{% endif %}


	{% if type == 'insight' %}
	#mainHeader > ul > li:last-child{
		border-bottom: 2px solid white;
	}
	{% endif %}
</style>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src = "{% static 'common/js/header.js' %}"></script>
<script type="text/javascript" src = "{% static 'common/js/profile.js' %}"></script>
<script type="text/javascript">
	var target = {
		'navButton' : '#mainHeader > div > i',
		'navBar' : 'sideBar',
		'search' : '#mainHeader > div > ul > li:first-child > img',
		'inputField' : '#mainHeader > div > ul > li:first-child > input',
	};
	headerAndNavManager.init(target);

	var obj = {
		'allFriends' : 'allFriends',
		'allPhotos' : 'allPhotos',
	};
	profile.init(obj);

	/*
	$(function() {
		$("#rightFixedSection").jCarouselLite({
			'auto': 8000,
			'speed' : 500,
			'circular' : true,
			'vertical' : true,
			'visible' : 3,
		});
	}); */
</script>
{% endblock %}
