<ul id = "sideBar" class = "navigationHidden">
	<li>
		<a href="#">
			<i class="fa fa-hand-o-left" aria-hidden="true"></i>
			CLOSE
		</a>
	</li>

	<li>
		<a href="{% url 'vestaSocial' %}">
			<i class="fa fa-users" aria-hidden="true"></i>&nbsp&nbspVESTA SOCIAL
		</a>
	</li>

	<li>
		<a href="#">
			<i class="fa fa-users" aria-hidden="true"></i>&nbsp&nbspPSYCHIATRIST
		</a>
	</li>

	<li>
		<a href="#">
			<i class="fa fa-users" aria-hidden="true"></i>&nbsp&nbspGYNECOLOGIST
		</a>
	</li>

	<li>
		<a href="#">
			<i class="fa fa-users" aria-hidden="true"></i>&nbsp&nbspCARDIOLOGIST
		</a>
	</li>

	<li>
		<a href="#">
			<i class="fa fa-users" aria-hidden="true"></i>&nbsp&nbspOPTHAMOLOGIST
		</a>
	</li>

	<li>
		<a href="#">
			<i class="fa fa-users" aria-hidden="true"></i>&nbsp&nbspSTOMACH
		</a>
	</li>

	<li>
		<a href="#">
			<i class="fa fa-users" aria-hidden="true"></i>&nbsp&nbspHOMEOPATHY
		</a>
	</li>

	<li>
		<a href="#">
			<i class="fa fa-users" aria-hidden="true"></i>&nbsp&nbspNEUROLOGIST
		</a>
	</li>

	<li>
		<a href="#">
			<i class="fa fa-users" aria-hidden="true"></i>&nbsp&nbspUROLOGIST
		</a>
	</li>

	<li>
		<a href="#">
			<i class="fa fa-users" aria-hidden="true"></i>&nbsp&nbspDERMATOLOGIST
		</a>
	</li>

	<li>
		<a href="#">
			<i class="fa fa-users" aria-hidden="true"></i>&nbsp&nbspAYURVEDA
		</a>
	</li>

	<li>
		<a href="#">
			<i class="fa fa-users" aria-hidden="true"></i>&nbsp&nbspFITNESS CENTRE
		</a>
	</li>

	<li>
		<a href="#">
			<i class="fa fa-users" aria-hidden="true"></i>&nbsp&nbspLUXURY
		</a>
	</li>
</ul>