{% load staticfiles %}
<ul id = "sideBar" class = "navigationHidden">
	<li>
		<a href="{% url 'socialRoot' %}">
			<img src="{% static 'common/images/social.png' %}">&nbsp&nbspVESTA SOCIAL
		</a>
	</li>

	<li>
		<a href="#">
			<img src="{% static 'common/images/psyciatrist.png' %}">&nbsp&nbspPSYCHIATRIST
		</a>
	</li>

	<li>
		<a href="#">
			<img src="{% static 'common/images/gynecologist.png' %}">&nbsp&nbspGYNECOLOGIST
		</a>
	</li>

	<li>
		<a href="#">
			<img src="{% static 'common/images/cardiologist.png' %}">&nbsp&nbspCARDIOLOGIST
		</a>
	</li>

	<li>
		<a href="#">
			<img src="{% static 'common/images/opthamologist.png' %}">&nbsp&nbspOPTHAMOLOGIST
		</a>
	</li>

	<li>
		<a href="#">
			<img src="{% static 'common/images/gastroentrologist.png' %}">&nbsp&nbspGASTROENTROLOGIST
		</a>
	</li>

	<li>
		<a href="#">
			<img src="{% static 'common/images/homeopathy.png' %}">&nbsp&nbspHOMEOPATHY
		</a>
	</li>

	<li>
		<a href="#">
			<img src="{% static 'common/images/neurologist.png' %}">&nbsp&nbspNEUROLOGIST
		</a>
	</li>

	<li>
		<a href="#">
			<img src="{% static 'common/images/urologist.png' %}">&nbsp&nbspUROLOGIST
		</a>
	</li>

	<li>
		<a href="#">
			<img src="{% static 'common/images/dermatologist.png' %}">&nbsp&nbspDERMATOLOGIST
		</a>
	</li>

	<li>
		<a href="#">
			<img src="{% static 'common/images/ayurveda.png' %}">&nbsp&nbspAYURVEDA
		</a>
	</li>

	<li>
		<a href="#">
			<img src="{% static 'common/images/dermatologist.png' %}"></i>&nbsp&nbspFITNESS CENTRE
		</a>
	</li>

	<li>
		<a href="#">
			<img src="{% static 'common/images/ayurveda.png' %}">&nbsp&nbspLUXURY
		</a>
	</li>
</ul>