{% load staticfiles %}

<header id = "mainHeader">
	<div>
		<i class="fa fa-bars" aria-hidden="true"></i>
		<span> <a href="{% url 'home' %}"> VESTA </a></span>

		<ul>
			<li>
				<img src="{% static 'common/images/search.png' %}">&nbsp&nbsp<input type = "text" class = "inputHidden">
			</li>

			<li>
				<a href="{% url 'newsFeed' %}">
					<img src="{% static 'common/images/home.png' %}">
				</a>
			</li>

			<li>
				<img src="{% static 'common/images/userplus.png' %}">
			</li>
			<li>
				<a href="#">
					<img src="{% static 'common/images/user.png' %}">
				</a>
			</li>
			<li>
				<img src="{% static 'common/images/logout.png' %}">
			</li>
		</ul>
	</div>

	{% include 'common/vestaSocialNavigationBar.html' %}
</header>

