{% extends 'common/base.html' %}
{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'common/css/socialHeader.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/css/sideNavigation.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/css/socialSection.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/css/advertisement.css' %}">
{% endblock %}

{% block body %}
{% include 'common/socialHeader.html' %}
{% include 'common/sideNavigation.html' %}
{% include 'common/socialSection.html' %}
<style type="text/css">
	#sideBar{
		top: 60px;
	}
</style>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src = "{% static 'common/js/header.js' %}"></script>
{% endblock %}
