{% load staticfiles %}

<ul>
	<li>
		<a href="{% url 'socialDoctor' %}">
			<img src="{% static 'common/images/differential.png' %}">
			&nbsp&nbsp<span>&nbspDIFFERENTIAL</span>
		</a>
	</li>

	<li>
		<a href="{% url 'newsFeed' %}">
			<img src="{% static 'common/images/myspace.png' %}">
			&nbsp&nbsp<span>&nbsp&nbspMY SPACE</span>
		</a>
	</li>

	<li>
		<a href="{% url 'socialPatient' %}">
			<img src="{% static 'common/images/insights.png' %}">
			&nbsp&nbsp<span>&nbspINSIGHTS</span>
		</a>
	</li>
</ul>
