#doctor-profile-reports{
	margin: 10px 0 30px 0;
	width: 100%;
	height: 500px;
}

#doctor-profile-reports > ul{
	list-style: none;
	display: flex;
	flex-direction: column;
}

#doctor-profile-reports > ul > li{
	background-color: rgba(30, 30, 30, 0.7);
	padding: 15px;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

#doctor-profile-reports > ul > li > header{
	flex: 0 0 100%;
	font-size: 20px;
	padding-bottom: 15px;
	margin-bottom: 20px;
	text-align: center;
	border-bottom: 1px solid rgba(200, 200, 200, 0.6);
}

#doctor-profile-reports > ul > li > img{
	flex: 0 0 150px;
	height: 150px;
	order-radius: 65px;
	display: inline-block;
	argin-right: 20px;
}

#doctor-profile-reports > ul > li > div{
	flex: 1 0 1px;
	font-size: 16px;
	line-height: 35px;
	padding-left: 5%;
}

#doctor-profile-reports a > img{
	flex: 0 0 80px;
	height: 80px;
}

#doctor-profile-reports form{
	flex: 0 0 100%;
	margin: 15px 0 0 180px;
}

#doctor-profile-reports form label{
	margin-right: 10px;
}

#doctor-profile-reports form textarea{
	width: 180px;
	height: 50px;
	padding: 5px;
	margin-top: 15px;
}

@media screen and (max-width: 768px){
	#doctor-profile-reports > ul > li > img{
		flex: 0 0 100px;
		height: 100px;
	}	

	#doctor-profile-reports form{
		margin: 15px 0 0 120px;
	}

	#doctor-profile-reports a > img{
		flex: 0 0 60px;
		height: 60px;
	}
}


@media screen and (max-width: 480px){
	#doctor-profile-reports > ul > li > img{
		flex: 0 0 120px;
		height: 120px;
		margin: 0 auto;
		margin-bottom: 0px;
	}	

	#doctor-profile-reports a{
		margin: 0 auto;
	}

	#doctor-profile-reports a > img{
		flex: 0 0 50px;
		height: 50px;
	}

	#doctor-profile-reports > ul > li > div{
		flex: 0 0 100%;
		text-align: center;
		margin: 15px 0;
	}

	#doctor-profile-reports form{
		margin: 25px 0 0 0;
		text-align: center;
	}
}