#futureAppointments > ul{
	list-style: none;
	display: flex;
	flex-direction: column;
}

#futureAppointments > ul > li{
	background-color: rgba(30, 30, 30, 0.7);
	padding: 15px;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
}

#futureAppointments > ul > li img{
	flex: 0 0 120px;
	height: 120px;
	border-radius: 65px;
	display: inline-block;
	margin-right: 20px;
}

#futureAppointments > ul > li > div{
	flex: 1 0 1px;
	font-size: 16px;
	line-height: 35px;
}

#futureAppointments > ul > li > section{
	flex: 0 0 70px;
	height: 70px;
	border-radius: 35px;
	font-size: 30px;
	text-align: center;
	line-height: 65px;
	border: 1px solid white;
}

#futureAppointments > ul > li > header{
	flex: 0 0 100%;
	font-size: 20px;
	padding-bottom: 15px;
	margin-bottom: 20px;
	text-align: center;
	border-bottom: 1px solid rgba(200, 200, 200, 0.6);
}

#futureAppointments > ul > li > div > a{
	position: absolute;
	top: 10px;
	right: 0px;
}

#futureAppointments > ul > li > div > a > img{
	width: 20px;
	height: 20px;
}

@media screen and (max-width: 768px){
	#futureAppointments > ul > li img{
		flex: 0 0 100px;
		height: 100px;
	}	
}

@media screen and (max-width: 480px){
	#futureAppointments > ul > li > img{
		flex: 0 0 90px;
		height: 90px;
		margin: 0 auto;
	}	

	#futureAppointments > ul > li > div{
		flex: 0 0 100%;
		text-align: center;
		margin: 15px 0;
	}

	#futureAppointments > ul > li > section{
		margin: 0 auto;
	}
}