#vitalsSection{
	margin: 10px 0 50px 0;
	width: 100%;
	background-color: rgba(30, 30, 30, 0.7);
}

#vitalsSection > ul{
	display: flex;
	flex-direction: column;
	list-style: none;
	border: 1px solid rgba(20, 20, 20, 0.6);
}

#vitalsSection > ul > li{
	flex: 0 0 90px;
	width: 100%;
	border-bottom: 1px solid rgba(20, 20, 20, 0.6);
	display: flex;
	align-items: center;
	padding: 0 25px;
	justify-content: space-between;
}

#vitalsSection > ul > li > header{
	flex: 0 0 20%;
	font-size: 15px;
}

#vitalsSection > ul > li > form{
	flex: 0 0 60%;
	width: 60%;
	display: flex;
	align-items: center;
	order: 1px solid white;
}

#vitalsSection > ul > li > button{
	flex: 0 0 20%;
	font-size: 15px;
	color: rgb(200, 200, 200);
}

#vitalsSection > ul > li > form > div{
	flex: 1 0 0;
}

#vitalsSection > ul > li > form > div:last-child{
	flex: 0 0 25%;
}

#vitalsSection > ul > li input{
	border-bottom: 1px solid rgba(150, 150, 150, 0.4);
}

#vitalsSection > ul > li input[type="submit"]{
	margin-left: 10px;
	border-bottom: none;
	color: rgb(200, 200, 200);
}

#vitalsSection > ul > li label{
	color: grey;
	font-size: 13px;
}

@media screen and (max-width: 768px){
	#vitalsSection > ul > li{
		padding: 0 5px;
	}	

	#vitalsSection > ul > li > header{
		font-size: 12px;
		margin-right: 5px;
	}

	#vitalsSection > ul > li > button{
		font-size: 13px;
		text-transform: none;
		flex: 0 0 25%;
	}

	#vitalsSection > ul > li input{
		font-size: 13px;
		text-transform: none;
	}

	#vitalsSection > ul > li input[type="submit"]{
		margin-left: 5px;
	}

	#vitalsSection > ul > li label{
		font-size: 12px;
	}

	#vitalsSection > ul > li > form{
		flex: 0 0 50%;
		width: 50%;
	}
}
