{% load staticfiles %} 
<section id = "mainSection">
	<section id = "postSection">
		{% include 'social/newsFeedSection.html' %}

		<div id="comments" style = "margin-top: -15px;">
			<form method="POST" action=""><input type='hidden' name='csrfmiddlewaretoken' value='qYNBjYeAPi5UKF0oDu2Y364dxFmiQQjIXBCPtvZo48fRtMzVUU1dea9Smrejn8Ai' />
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:90%; margin-top: 0 auto;">
					<textarea class="mdl-textfield__input" cols="40" id="id_content" name="content" rows="2" required style = "margin-left: 5%; padding-top: 10px;"></textarea>
					<label class="mdl-textfield__label" for="id_content" style = "color: white; font-family: lato; font-size: 15px; margin-left: 5%;">Your comment here</label>
				</div>
				<input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent  blue" style = "margin-left: 70%; width: 25%;">
			</form><br>
		</div>

		<ul>
			{% for i in '12345' %}
			<li>
				<header>
					<img src="{% static 'common/images/user.jpg' %}">
					<span> Varun Kashyap </span>
					&nbsp&nbsp&nbsp
					<span> 5hours, 13minutes ago</span>
				</header>

				<p>
					This is some test comment. This is some test comment. This is some test comment. This is some test comment. This is some test comment. This is some test comment. This is some test comment. This is some test comment. This is some test comment. This is some test comment. This is some test comment. This is some test comment. This is some test comment. This is some test comment. 
				</p>
			</li>
			{% endfor %}
		</ul>
	</section>
</section>