{% load staticfiles %}

<div>
	<i class="fa fa-bars" aria-hidden="true"></i>
	<span> <a href="{% url 'root' %}"> VESTA </a></span>

	<ul>
		<li>
			<img src="{% static 'common/images/search.png' %}">&nbsp&nbsp<input type = "text" class = "inputHidden">
		</li>

		<li>
			<a href="{% url 'socialRoot' %}" title = "Vesta Social - Home">
				<img src="{% static 'common/images/home.png' %}">
			</a>
		</li>

		<li>
			<a href="{% url 'vestaSocial' 'profile' %}" title = "Profile">
				<img src="{% static 'common/images/user.png' %}">
			</a>
		</li>

		<li>
			<img src="{% static 'common/images/userplus.png' %}" title = "Friend Requests">
			<ul id = "friendRequestList">
				{% for i in '123' %}
				<li>
					<img src="{% static 'common/images/user.jpg' %}"><span> 7Hours, 52 minutes ago</span>
					<p>
						Maninder Singh Sent you a friend request.
						<br>
						<a href="#"> Accept </a>
						<a href="#"> Reject </a>
					</p>
				</li>
				{% endfor %}
			</ul>
		</li>

		<li>
			<img src="{% static 'common/images/notification.png' %}" title = "Notifications">
			<ul id = "notification">
				{% for i in '123' %}
				<li>
					<a href="#">
						<img src="{% static 'common/images/user.jpg' %}"><span> 7Hours, 52 minutes ago</span>
						<p>
							Some dummy notification Some dummy notification Some dummy notification 
						</p>
					</a>
				</li>
				{% endfor %}
			</ul>
		</li>

		<li>
			<img src="{% static 'common/images/logout.png' %}">
		</li>
	</ul>
</div>