{% load staticfiles %}

<section class = "section">
	<div class = "header">
		<div class = "dots">
			<img src="{% static 'common/images/threedots.png' %}">
		</div>

		<ul>
			<li>
				<a href="#"> Edit </a>			
			</li>				
			<li>		
				<a href="#"> Delete </a>
			</li>
		</ul>

		<img src="{% static 'common/images/user.jpg' %}">
		<div>
			<span> <a href="#"> Shubham Jain </a> </span>
			<br>
			<span> 7 hours, 48 minutes ago </span>
		</div>
	</div>

	<p>
		This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. 
	</p>

	<div class = "imageWrapper">
		<img src="{% static 'common/images/testimage.jpg' %}">								
	</div>

	<div class = "stats">
		<a href="#"> <img src="{% static 'common/images/like.png' %}"> </a>		
		<a href="#"> 10 likes </a>
		<a href="" class = "comment" >  </a>
		<a href="{% url 'vestaSocial' 'comment' %}" open = "0"> <img src="{% static 'common/images/comment.png' %}">&nbsp&nbsp5 comments </a>
	</div> 
</section>