{% load staticfiles %}

<section class = "section">
	<div class = "header">
		<div class = "dots">
			<img src="{% static 'common/images/threedots.png' %}">
		</div>

		<ul>
			<li>
				<a href="#"> Edit </a>			
			</li>				
			<li>		
				<a href="#"> Delete </a>
			</li>
		</ul>

		<img src="{% static 'common/images/user.jpg' %}">
		<div>
			<span> <a href="#"> Shubham Jain </a> </span>
			<br>
			<span> 7 hours, 48 minutes ago </span>
		</div>
	</div>

	<p class = "post-text">Hello there, https://www.youtube.com/watch?v=1-xGerv5FOk</p>

	<a href="https://www.youtube.com/watch?v=1G4isv_Fylg" target = "new" style = "display: inline;">
		<section class ="thumbnail-section">
			<div>
				<div><img src=""></div>	
				<header></header>
				<p></p>
			</div>
		</section>
	</a>

	<div class = "imageWrapper" style = "display: none;">
	<!--			<img src="{% static 'common/images/testimage.jpg' %}" class = "post-image">
-->		<img src="" class = "post-image">
	</div>

	<div class = "stats">
		<a href="#"> <img src="{% static 'common/images/like.png' %}"> </a>		
		<a href="#"> 10 likes </a>
		<a href="" class = "comment" >  </a>
		<a href="{% url 'vestaSocial' 'comment' %}" open = "0"> <img src="{% static 'common/images/comment.png' %}">&nbsp&nbsp comments </a>
	</div> 
</section>

<!--
https://www.youtube.com/watch?v=1G4isv_Fylg
https://www.youtube.com/watch?v=OLO0j783Zgs
-->