{% extends 'common/base.html' %}
{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'common/css/commonHeader.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/css/sideNavigation.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'social/css/socialSection.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'social/css/newsFeedSection.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'social/css/newPost.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/css/rightFixedSection.css' %}">
{% endblock %}

{% block title %}
VESTA - My Space
{% endblock %}

{% block body %}
{% include 'common/commonHeader.html' %}
{% include 'common/sideNavigation.html' %}
{% include 'social/socialSection.html' %}
<style type="text/css">
	#rightFixedSection{
		top: 100px;
	}

	#sideBar{
		top: 100px;
	}

	{% if category == 'differential' %}
	#mainHeader > ul > li:nth-child(2),
	#mainHeader > ul > li:nth-child(3){
		opacity: 0.5;
		border-bottom: none;
	}
	{% endif %}

	{% if category == 'mySpace' %}
	#mainHeader > ul > li:nth-child(1),
	#mainHeader > ul > li:nth-child(3){
		opacity: 0.5;
		border-bottom: none;
	}
	{% endif %}

	{% if category == 'insights' %}
	#mainHeader > ul > li:nth-child(1),
	#mainHeader > ul > li:nth-child(2){
		opacity: 0.5;
		border-bottom: none;
	}

	{% endif %}
</style>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src = "{% static 'common/js/header.js' %}"></script>
<script type="text/javascript" src = "{% static 'social/js/postOptions.js' %}"></script>
<script type="text/javascript" src = "{% static 'social/js/thumbnail.js' %}"></script>
<script type="text/javascript">
	var target = {
		'navButton' : '#mainHeader > div > i',
		'navBar' : 'sideBar',
		'search' : '#mainHeader > div > ul > li:first-child > img',
		'inputField' : '#mainHeader > div > ul > li:first-child > input',
	};
	headerAndNavManager.init(target);

	var obj = {
		'dots' : '.dots > img',
		'list' : '.header > ul',
	};
	postOptions.init(obj);

	var x = {
		'textField' : 'newPostTextArea',
		'thumbnail' : 'thumbnail'
	};
	thumbnail.init(x);
</script>
{% endblock %}
